<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Angular and Firebase</h5>
        <p class="grey-text text-lighten-4">Componente Angular.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Materialize.css</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Todos los derechos reservados. 
    </div>
  </div>
</footer>